
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: rgb(139, 144, 219);
    font-family: 'Bebas Neue', cursive;
}

h1, h2{
    text-align: center;
    color: rgb(139, 144, 219);
}

#contorno{
    border: 3px solid black;
    padding: 40px;
    margin: 50px 50px 50px 50px;
    background-color: rgb(191, 218, 221);
}

#endereco{
    border: 1px solid black;
    padding: 10px;
}